@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #1d797e;
    --primary-dark-color: #0c4a4d;
    --primary-light-color: #b8f2e3;
    --secondary-dark-color: #006b8c;
    --accent-color: #ff8066;
    --bg-color: white;
    --txt-color: black;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "poppins";
    background-color: var(--bg-color);
}

.section-margin {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 768px) {
    .section-margin {
        padding-top: 64px;
        padding-bottom: 64px;
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (min-width: 1024px) {
    .section-margin {
        padding-top: 64px;
        padding-bottom: 64px;
        padding-left: 128px;
        padding-right: 128px;
    }
}

.testimonial-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--primary-color);
}

.testimonial-button:active {
    border: none;
    transform: scale(0.98);
}

.testimonial-button:focus {
    border: none;
    outline: none;
}

.testimonial-buttons-parent {
    margin: 1rem;
    text-align: center;
}

.testimonial-buttons-next {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.testimonial-buttons-previous {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.main-section-shape-1 {
    display: none;
}

@media (min-width: 768px) {
    .main-section-shape-1 {
        display: none;
        position: absolute;
        left: -10%;
    }
}

@media (min-width: 992px) {
    .main-section-shape-1 {
        display: block;
        position: absolute;
        top: 17%;
        left: -6%;
    }
}

.main-section-shape-2 {
    position: absolute;
    right: -40%;
    top: 0%;
    width: 40%;
    height: 24%;
}

@media (min-width: 992px) {
    .main-section-shape-2 {
        right: 0;
    }
}

details summary::-webkit-details-marker {
    display: none;
}

.editor {
    border-style: solid;
    border-width: 5px;
    border-color: #43a1d3;
}

.editor-button {
    background-color: #43a1d3 !important;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    z-index: 5;
}

.loader_class {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border_button {
    position: absolute;
    right: 0px;
    top: 42%;
    display: inline-block;
}

.nav_border_button {
    position: absolute;
    left: 42%;
    top: 0px;
    display: inline-block;
}
